a.pages {
    color:brown;
}
#pagetitle
{
    font-family: 'Nabla', cursive;
    font-size: 50px;
    color: #000000;
    text-align: center;
    margin-top: 50px;
}
.pages {
    font-family: "Sofia", sans-serif;
    color: brown;
    color-scheme: red;
    font-size: 1em;
    text-shadow: 3px 3px 3px #ababab;
    text-align: center;
}
